.modal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  height: 200px;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
}

.modal-header {
  font-weight: 800;
  font-size: 20px;
}
.modal-input {
  width: auto;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.1);
  font-weight: 500;
}

.modal-btn {
  font-size: 15px;
  margin-top: 15px;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgba(241, 168, 235, 0.9);
  background-color: rgba(0, 0, 0, 0);
  font-weight: 800;
}
